<table>
  <tbody>
    <tr>
      <td style="color: #8B4513; font-family: Palatino, Georgia, serif; font-size: 20px;">Hello,</td>
    </tr>
    <tr>
      <td style="color: #8B4513; font-family: Palatino, Georgia, serif; font-size: 16px;">Kath has posted a new article on</td>
    </tr>
    <tr>
      <td align="center" style="color: #006400; font-family: Papyrus, Georgia, serif; font-size: 28px;">
        Kath's Blog!
      </td>
    </tr>
    <tr>
      <td style="color: #8B4513; font-family: Palatino, Georgia, serif; font-size: 16px;"><%= @appname %>!</td>
    </tr>
  </tbody>
</table>
