// Place all the styles related to the info_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-page,
.contact-page,
.thank-you-page,
.show-article-page {
  background-color: #fff;
  padding: 1%;
}

h2 {
  text-align: center;
}
