.navbar {
  background-color: #ccffcc;
  padding-right: .5%;
}
.nav-menu ul {
  margin-top: .5%;
}
.nav-pills li a:active,
.nav-pills li a:focus,
.nav-pills li a:hover {
    color: #f5f5f5;
    background-color: darkgreen;
}

.search-box {
  padding-top: 1%;
}
.search-label {
  font-weight: 600;
}
.search-button {
  padding: 2px;
}

footer {
  background-color: #ccffcc;
}
footer p {
  padding-top: .5%;
}
